LogRecord for:-------{{type}}
Logging at class:----{{class_name}}
In method:-----------{{method_name}}
Logging time:--------{{date_time}}
Processing time is:--{{run_time}}
Result:--------------{{result}}
Incomming params:----{{params}}
_________________________________________________