	LogRecord for:-------{{type}}
{{# class_name}}
	Logging at class:----{{class_name}}
{{/ class_name}}
{{# called_method}}
	In method:-----------{{method_name}}
{{/ called_method}}
{{# date_time}}
	Logging time:--------{{date_time}}
{{/ date_time}}
{{# processing_time}}
	Processing time is:--{{run_time}}
{{/ processing_time}}
{{# output_params}}
	Result:--------------{{result}}
{{/ output_params}}
{{# incoming_params}}
	Incomming params:----{{params}}
{{/ incoming_params}}
_________________________________________________